<div class="card m-2" id="comments-new">
    <div class="card-body">
        <!--댓글 작성 폼-->
        <form>
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" id="new-comment-nickname">
            </div>
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea type="text" rows="3" class="form-control" id="new-comment-body"></textarea>
            </div>
            <!--히든 인풋-->
            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <button type="submit" class="btn btn-primary" id="comment-create-btn">작성</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const commentCreateBtn = document.querySelector("#comment-create-btn");

        commentCreateBtn.addEventListener("click", function() {

            const comment = {
                nickname: document.querySelector("#new-comment-nickname").value,
                body: document.querySelector("#new-comment-body").value,
                article_id: document.querySelector("#new-comment-article-id").value
            };

            console.log("보낼 데이터:", comment);

            fetch('/api/articles/' + comment.article_id + '/comments', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(comment)
            })
            .then(res => res.json())
            .then(data => console.log("성공:", data))
            .catch(err => console.error("에러:", err));
        });
    });
</script>