<html>
    <head>
        <title>셀프체크 17</title>
    </head>
    <body>
        <h1>Hello, <span id="target">World</span>!</h1>
        <input type="text" id="text-input">
        <button id="send-btn">전송</button>
        <script>
            const target = document.querySelector("#target");
            const btn = document.querySelector("#send-btn");

            btn.addEventListener("click", () => {
                target.innerText = document.querySelector("#text-input").value;
            });
        </script>
    </body>
</html>