<html>
<head>
    <title>셀프체크 19</title>
    <style>
        .prerequisite {
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>제목</h1>
    <ul>
        <li class="prerequisite">HTML</li>
        <li class="prerequisite">CSS</li>
        <li class="prerequisite">JS</li>
        <li class="prerequisite">Java</li>
        <li class="prerequisite">SQL</li>
        <li class="prerequisite">Spring Boot</li>
    </ul>
<script>
    const lists = document.querySelectorAll(".prerequisite");

    lists.forEach(list => {
        list.addEventListener("click", () => {
            list.style.textDecoration = "line-through";
        });
    });
</script>
</body>
</html>
