{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<!--범위를 따로 지정하지 않앗기 때문에 article.id로 써야함-->
<!--소환!! 이런 느낌이 아니라 여기서부터 article 생략할거야~~ 이런 느낌이엇나봄...-->
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>
<a href="/articles">Back</a>
{{>comments/_comments}} <!--상세 페이지에 댓글 뷰 파일 삽입-->
{{>layouts/footer}}